<table class="table table-sm table-borderless small font-weight-bolder text-uppercase">
    <tbody>
    <tr>
        <td>
            <button type="button" onclick="OpenNaturalModal('01');" class="btn btn-secondary text-center m-1 btn-block btn-option" data-dismiss="modal">Cliente Natural
            </button>
            <button type="button" onclick="OpenJuridicoModal('06');" class="btn btn-secondary text-center m-1 btn-block btn-option" data-dismiss="modal">Cliente Juridico
            </button>
            <button type="button" onclick="OpenOtherModal();" class="btn btn-secondary text-center m-1 btn-block btn-option" data-dismiss="modal">Otros</button>
        </td>
    </tr>
    </tbody>
</table>

