<table class="table table-sm table-borderless small font-weight-bolder text-uppercase">
    <tbody>
    <tr>
        <th scope="row" style="width: 40%;">
            <label for="surnames">Tipo de documento</label>
        </th>
        <td>
            <select id="document_type" name="document_type" class="form-control"
                    style="font-size: .9375rem;">
                {% for type in document_types %}
                    <option value="{{ type.id }}">{{ type.description }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <label for="document_number">Nº de Documento</label>
        </th>
        <td>
            <input type="text" class="form-control" id="document_number" name="document_number"
                   autocomplete="off">
            <input type="hidden" id="operation" name="operation" value="N">
            <input type="hidden" id="client_id" name="client_id" value="0">
        </td>
    </tr>
    <tr>
        <th scope="row">
            <label for="names">Nombres</label>
        </th>
        <td>
            <input type="text" class="form-control" name="names" id="names">
        </td>
    </tr>
    <tr>
        <th scope="row">
            <label for="phone">Telefono</label>
        </th>
        <td>
            <input type="text" class="form-control" name="phone" id="phone">
        </td>
    </tr>
    <tr>
        <th scope="row">
            <label for="email">E-mail</label>
        </th>
        <td>
            <input type="text" class="form-control" name="email" id="email">
        </td>
    </tr>
    <tr>
        <th scope="row">
            <label for="address">Direccion</label>
        </th>
        <td>
            <input type="text" class="form-control" name="address" id="address">
        </td>
    </tr>
    <tr>
        <th scope="row">
            <label for="id_district">Distritos</label>
        </th>
        <td>
            <select id="id_district" name="id_district" class="form-control">
                <option value="0">SELECCIONAR</option>
                {% for district in districts %}
                    <option value="{{ district.id }}">{{ district.description }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <label for="reference">Referencia</label>
        </th>
        <td>
            <input type="text" class="form-control" name="reference" id="reference">

        </td>
    </tr>
    </tbody>
</table>
